@page {
  margin: 20px 20px 60px 20px !important;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}

.print {
  @include element('container') {
    width: 100%;
  }

  @include element('header') {
    width: 100%;

    @include element('logo') {
      width: 85px;
      float: left;
      padding-top: 0px;

      img {
        width: 100%;
      }
    }

    @include element('issuer') {
      float: left;
      width: 646px;
      padding-left: 20px;
      position: relative;

      p {
        margin: 0;
        padding: 0;
      }

      p:nth-child(1) {
        font-size: 22px;
        position: relative;
        margin-top: -10px;
        font-weight: bold;
      }

      p:nth-child(2) { position: relative; top: -10px;  }
      p:nth-child(3) { position: relative; top: -20px; }
    }

    @include element('option') {
      position: absolute;
      top: 0;
      right: 0;

      table {
        tr {
          td {
            line-height: 16px;
          }
        }
      }
    }

    @include clearfix;
  }

  @include element('title') {
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    display: block;
  }

  @include element('client') {
    width: 100%;
    display: block;

    @include element('full') {
      width: 100%;

      @include element('left') {
        width: 360px;
        float: left;
      }

      @include element('right') {
        width: 360px;
        float: right;
      }

      @include clearfix;
    }

    @include element('left') {
      width: 360px;
      float: left;
    }

    @include element('right') {
      width: 360px;
      float: right;
    }

    &__left, &__right, &__full {
      padding: 5px 10px 10px 10px;
      border: 1px solid #333333;

      table {
        tr {
          td {
            line-height: 15px;
          }
        }
      }
    }

    @include clearfix;
  }

  @include element('order') {
    width: 100%;
    display: block;
    margin-top: 20px;

    table {
      width: 100%;
      border-collapse: collapse;

      thead, tfoot {
        background-color: #dddddd;
      }

      thead, tfoot {
        tr {
          th {
            line-height: 18px;
            padding: 0px 5px 6px 5px;
            border: 1px solid #333333;
          }
        }
      }

      tbody {
        tr {
          td {
            line-height: 15px;
            padding: 0px 5px 5px 5px;
            border: 1px solid #333333;
          }
        }
      }
    }
  }

  @include element('note') {
    width: 100%;
    margin: 5px 0px;
  }
}